넘파이 모듈

In [38]:
# 모듈 임포트
import numpy as np

실습

In [39]:
#np.array() 함수
#ndarray.shape: ndarray의 차원과 크기를 튜플() 형태로

array1 = np.array([1,2,3])
print('array1 type:', type(array1))
print('array1 array 형태:',array1.shape)

array2 = np.array([[1,2,3],
                  [2,3,4]])
print('array2 type:', type(array2))
print('array2 array 형태:',array2.shape)

array3 = np.array([[1,2,3]])
print('array3 type:', type(array3))
print('array4 array 형태:',array3.shape)

array1 type: <class 'numpy.ndarray'>
array1 array 형태: (3,)
array2 type: <class 'numpy.ndarray'>
array2 array 형태: (2, 3)
array3 type: <class 'numpy.ndarray'>
array4 array 형태: (1, 3)

In [40]:
# ndarray.ndim: ndarray의 차원
print('array1:{:0}차원, array2:{:1}차원,array3:{:2}차원'.format(array1.ndim, array2.ndim, array3.ndim))

array1:1차원, array2:2차원,array3: 2차원

In [41]:
# ndarray의 데이터 타입

list1 = [1,2,3]
print(type(list1))
array1= np.array(list1)  #리스트 자료형인list1을 ndarray로 변경
print(type(array1))
print(array1,array1.dtype)

list2 = [1,2,'test']
array2 = np.array(list2)
print(array2, array2.dtype)

list3 = [1,2,3.0]
array3 = np.array(list3)
print(array3, array3.dtype)

<class 'list'>
<class 'numpy.ndarray'>
[1 2 3] int64
['1' '2' 'test'] <U21
[1. 2. 3.] float64

In [42]:
# astype(): ndarray내 데이터타입 변경

array_int=np.array([1,2,3])
array_float= array_int.astype('float64') # .astype()
print(array_float, array_float.dtype)

[1. 2. 3.] float64

In [43]:
# arrange(), zeros(), ones() 이용해 ndarray 생성

# arrange() : array를 range()로 표현.0부터 함수인자값 -1까지의 값을 순차적으로 ndarray의 데이터값으로 변환
sequence_array = np.arange(10)
print(sequence_array)
print(sequence_array.dtype, sequence_array.shape)

# zero() : ndarray.shape시에 모든 값을 0(int)으로 채워 ndarray반환
zero_array = np.zeros((3,2),dtype='int32')
print(zero_array)
print(zero_array.dtype, zero_array.shape)

# one() : ndarray.shape시에 모든 값을 1(float64형)로 채워 ndarray반환
one_array = np.ones((3,2))
print(one_array)
print(one_array.dtype,one_array.shape)

[0 1 2 3 4 5 6 7 8 9]
int64 (10,)
[[0 0]
 [0 0]
 [0 0]]
int32 (3, 2)
[[1. 1.]
 [1. 1.]
 [1. 1.]]
float64 (3, 2)

In [44]:
# reshape()
# :ndarray를 특정차원 및 크기로 변환. 원하는 크기를 인자로 부여
array1 = np.arange(10)
print('array1:\n',array1)

array2 = array1.reshape(2,5)
print('array2:\n', array2)

array3 = array1.reshape(5,2)
print('array3:\n', array3)

# reshape 효율적 사용 -> reshape()의 인자를 -1로 적용하는 경우
array1 = np.arange(10)
print('array1:\n',array1)
array2 = array1.reshape(-1,5)
print('array2:\n', array2.shape)
array3 = array1.reshape(5,-1)
print('array3:\n', array3.shape)
#ndarray와 호환되는 shape로 스스로 변환

array1:
 [0 1 2 3 4 5 6 7 8 9]
array2:
 [[0 1 2 3 4]
 [5 6 7 8 9]]
array3:
 [[0 1]
 [2 3]
 [4 5]
 [6 7]
 [8 9]]
array1:
 [0 1 2 3 4 5 6 7 8 9]
array2:
 (2, 5)
array3:
 (5, 2)

In [45]:
# 인덱싱(indexing)
# 넘파이에서 ndarray내 일부 데이터 세트나 특정 데이터만을 선택할 수 있도록 함

# 1.단일 특정값 추출

# 2.슬라이싱

# 3.팬시 인덱싱
# 리스트나 ndarray로 인덱스 집합 지정하면 해당 위치의 인덱스에 해당하는 ndarray반환하는 방식

# 4.불린 인덱싱
# 조건 필터링과 검색이 동시에 가능한 방식
array1d = np.arange(start=1,stop=10)
array3 = array1d[array1d>5]  # [ ]안에 array1d>5 , Boolean indexing을 적용
print('array1d > 5 불린인덱싱 결과 값:', array3)
#필터링과정
array1d >5

array1d > 5 불린인덱싱 결과 값: [6 7 8 9]

array([False, False, False, False, False,  True,  True,  True,  True])

In [46]:
# 행렬의 정렬

# sort(): 두가지 행렬 정렬방식 존재
org_array = np.array([3,1,9,5])
print('원본행렬:',org_array)
# 1.np.sort() : 원 행렬은 그대로 유지한채 원 행렬의 정렬된 행렬을 반환
sort_array1 = np.sort(org_array)
print('np.sort()호출 후 반환된 정렬 행렬:', sort_array1)
print('np.sort()호출 후 원본 행렬:', org_array)
# 2.ndarray.sort() : 원 행렬자체를 정렬한 형태로 변환하며 반환 값은 None
sort_array2 = org_array.sort()
print('org_array.sort() 호출 후 반환된 행렬:', sort_array2)
print('org_array.sort() 호출 후 원본 행렬:', org_array)

# argsort():원본 행렬이 정렬됐을 때 기존 원본 행렬의 원소에 대한 인덱스를 필요로 할때, 정렬된 행렬의 인덱스를 ndarray형으로 반환
org_array = np.array([3,1,9,5])
sort_indices = np.argsort(org_array)
print(type(sort_indices))
print("행렬정렬시 원본행렬의 인덱스:",sort_indices)

원본행렬: [3 1 9 5]
np.sort()호출 후 반환된 정렬 행렬: [1 3 5 9]
np.sort()호출 후 원본 행렬: [3 1 9 5]
org_array.sort() 호출 후 반환된 행렬: None
org_array.sort() 호출 후 원본 행렬: [1 3 5 9]
<class 'numpy.ndarray'>
행렬정렬시 원본행렬의 인덱스: [1 0 3 2]

In [47]:
# 행렬내적(행렬곱): dot()
A = np.array([[1,2,3]
              ,[4,5,6]])
B = np.array([[7,8]
              ,[9,10]
              ,[11,12]])
dot_product = np.dot(A,B)
print("행렬 내적 결과: \n",dot_product)

# 전치행렬: transpose()
A = np.array([[1,2],[3,4]])
transpose_mat=np.transpose(A)
print('A의 전치행렬:\n', transpose_mat)

행렬 내적 결과:
 [[ 58  64]
 [139 154]]
A의 전치행렬:
 [[1 3]
 [2 4]]

#판다스

데이터 핸들링-판다스

판다스의 핵심 객체 DataFrame: 여러개의 행과 열로 이뤄진 2차원 데이터를 담는 데이터 구조체


DataFrame VS Series

Index : RDBMS의 PK처럼 개별 데이터를 고유하게 식별하는 Key 값
DataFrame,Series 모두 index를 key값으로 가지고 있음
- Series: 칼럼이 하나 뿐인 데이터 구조체
- DataFrame: 칼럼이 여러개인 데이터 구조체, 여러개의 Series로 이루어져 있다

In [48]:
import pandas as pd

In [49]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [50]:
titanic_df = pd.read_csv(r'/content/drive/MyDrive/2025MLStudy/titanic_train.csv')
titanic_df.head(3)

titanic_df = pd.read_csv('/content/drive/MyDrive/2025MLStudy/titanic_train.csv')
print('titanic변수 type:', type(titanic_df))
titanic_df

titanic_df.head(3)

print('DataFrae 크기: ', titanic_df.shape)

titanic_df.info()
titanic_df.describe()

titanic변수 type: <class 'pandas.core.frame.DataFrame'>
DataFrae 크기:  (891, 12)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
count,891.000000,891.000000,891.000000,714.000000,891.000000,891.000000,891.000000
mean,446.000000,0.383838,2.308642,29.699118,0.523008,0.381594,32.204208
std,257.353842,0.486592,0.836071,14.526497,1.102743,0.806057,49.693429
min,1.000000,0.000000,1.000000,0.420000,0.000000,0.000000,0.000000
25%,223.500000,0.000000,2.000000,20.125000,0.000000,0.000000,7.910400
50%,446.000000,0.000000,3.000000,28.000000,0.000000,0.000000,14.454200
75%,668.500000,1.000000,3.000000,38.000000,1.000000,0.000000,31.000000
max,891.000000,1.000000,3.000000,80.000000,8.000000,6.000000,512.329200

In [51]:
value_counts = titanic_df['Pclass'].value_counts()
print(value_counts)

titanic_pclass = titanic_df['Pclass']
print(type(titanic_pclass))

titanic_pclass.head()

Pclass
3    491
1    216
2    184
Name: count, dtype: int64
<class 'pandas.core.series.Series'>

0    3
1    1
2    3
3    1
4    3
Name: Pclass, dtype: int64

* DataFrame객체에서 보다 Series객체에서 value_counts()메서드를 호출하는 것이 칼럼별 데이터 값의 분포도를 좀더 명시적으로 파악하기 쉬움.

In [52]:
value_counts = titanic_df['Pclass'].value_counts()
print(type(value_counts))
print(value_counts)

<class 'pandas.core.series.Series'>
Pclass
3    491
1    216
2    184
Name: count, dtype: int64

DataFrame과 리스트,딕셔너리,넘파이 ndarray 상호 변환

In [53]:
import numpy as np

col_name1 = ['col1']
list1 = [1,2,3]
array1= np.array(list1)
print('array1 shape:', array1.shape)

#리스트를 이용해 DataFrame 생성
df_list1= pd.DataFrame(list1,columns=col_name1)
print('1차원 리스트로 만든 DataFrame:\n', df_list1)

#넘파이 ndarray를 이용해 DataFrame 생성
df_array1 = pd.DataFrame(array1, columns=col_name1)
print('1차원 ndarray로 만든 DataFrame:\n', df_array1)

#딕셔너리를 이용해 DataFrame 생성
dict = {'col1':[1,11],'col2':[2,22],'col3':[3,33]}
df_dict = pd.DataFrame(dict)
print('딕셔너리로 만든 DataFrame:\n',df_dict)

array1 shape: (3,)
1차원 리스트로 만든 DataFrame:
    col1
0     1
1     2
2     3
1차원 ndarray로 만든 DataFrame:
    col1
0     1
1     2
2     3
딕셔너리로 만든 DataFrame:
    col1  col2  col3
0     1     2     3
1    11    22    33

In [54]:
# DataFrame을 ndarray로 변환
array3= df_dict.values
print('df_dict.values 타입:',type(array3),'df_dict.values shape:',array3.shape)
print(array3)
# DataFrame을 리스트로 변환: df_dict.values.tolist()
# DataFrame을 딕셔너리로 변환: df_dict.todict('list')

df_dict.values 타입: <class 'numpy.ndarray'> df_dict.values shape: (2, 3)
[[ 1  2  3]
 [11 22 33]]

###DataFrame의 칼럼 데이터세트 생성과 수정

In [55]:
#새로운 칼럼 Age_0 추가하고 일괄적으로 0값 할당
titanic_df['Age_0']=0
#기존 칼럼 Series(Age)의 데이터를 이용해 새로운 칼럼 Series(Age_by_10,Family_No)를 만들기
titanic_df['Age_by_10']=titanic_df['Age']*10
titanic_df['Family_No']=titanic_df['SibSp']+titanic_df['Parch']+1
#세줄만 출력
titanic_df.head(3)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Age_0,Age_by_10,Family_No
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S,0,220.0,2
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C,0,380.0,2
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,0,260.0,1

DataFrame 데이터 삭제 : drop()메서드 이용

In [56]:
titanic_drop_df = titanic_df.drop('Age_0',axis=1)
titanic_drop_df.head(3)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Age_by_10,Family_No
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S,220.0,2
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C,380.0,2
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,260.0,1

###데이터 셀렉션과 필터링

###결손 데이터 처리

NaN 여부 확인 : isna()
NaN를 다른 값으로 대체 : fillna()

####lambda

In [ ]:
#lambda에서 if, else만 지원하고 else if는 지원하지 않기 때문에 ()으로 내포하여 사용해야 함.